<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <title>Test Flask Page</title>
</head>

<body>
    <h1>Welcome to my backend store API</h1>
    <h3>Created using Flask + MongoDB </h3>


    <hr>


    <h5>Prvided Functionality </h5>
    <ul>
        <li>Get Catalog</li>
        <li>Post Catalog</li>
        <li>Fet Categories</li>
        <li>Get Catalog/Category</li>
        <li>etc...</li>
    </ul>

</body>

</html>